html, body {
    height:100%;
    background: linear-gradient(#000000, #4b4b50);
    scroll-behavior: smooth;
    
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    overflow-y: auto;
    animation: fadeIn 2s ease-out;
}
.container {
    height: 100vh;
    margin: 0 10%;
}
.header {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}
.logo-holder {
    align-items: center;
    flex-direction: column;
    display: flex;
}
.logo-text {
    font-size: 20px;
    color:  #4e4e50;
    animation: glow 1s ease-in-out infinite alternate;
    transition: color 0.6s linear;
}
h1 {
    animation: glow 1s ease-in-out infinite alternate;
    transition: color 0.6s linear;
}
.logo {
    width: 45px;
    
}
.menu {
    display: flex;
    align-items: center;
}
.table {
    display: flex;
    justify-content: center;
}
.table a {
    margin-left: 3rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    animation: glow 1s ease-in-out infinite alternate;
    transition: color 0.6s linear;
}
.table a:hover, h1:hover {
    color: rgb(160, 160, 165);
}
main p {
    color:rgb(111, 109, 129);

    background: linear-gradient(to right, crimson,pink,springgreen);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;


    transition: color .2s ease-in-out;
    text-transform:uppercase;
    font-weight:300;
}
.about {
    padding-top: 50px;
    text-align: center;
    padding-right: 30px;
    width: 75%;
    font-size: 20px;
    margin: 0 auto 100px auto;
}
footer {
    height: 10%;
    text-align: center;
}
@keyframes glow {
    from {
      text-shadow: 0 0 5px #afafaf, 0 0 20px #555a58, 0 0 20px #adafa7, 0 0 30px #121312, 0 0 30px #060806, 0 0 30px #7c7c7c, 0 0 30px #000000;
    }
  
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #494949, 0 0 20px #545a53, 0 0 40px #080808, 0 0 40px #000000, 0 0 35px #000000, 0 0 40px #000000;
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #6c756e;
    margin: 1em 0;
    padding: 0;
}

.light {
    position: absolute;
    width: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: #e9f1f1 0 0 20px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
  
.x1,
.x2,
.x3,
.x4,
.x5,
.x6,
.x7,
.x8,
.x9 {
  position: absolute;
  animation: floatUp infinite linear;
}
  
.x1 {
  animation-duration: 4s;
  transform: scale(1.0);
}
  
.x2 {
  animation-duration: 7s;
  transform: scale(1.6);
  left: 15%;
}
  
.x3 {
  animation-duration: 2.5s;
  transform: scale(.5);
  left: -15%;
}
  
.x4 {
  animation-duration: 4.5s;
  transform: scale(1.2);
  left: -34%;
}
  
.x5 {
  animation-duration: 8s;
  transform: scale(2.2);
  left: -57%;
}
  
.x6 {
  animation-duration: 3s;
  transform: scale(.8);
  left: -81%;
}
  
.x7 {
  animation-duration: 5.3s;
  transform: scale(3.2);
  left: 37%;
}
  
.x8 {
  animation-duration: 4.7s;
  transform: scale(1.7);
  left: 62%;
}
  
.x9 {
  animation-duration: 4.1s;
  transform: scale(0.9);
  left: 85%;
}
  
@keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
}
  
25% {
  opacity: 1;
}
  
50% {
  top: 0vh;
  opacity: .8;
}
  
75% {
  opacity: 1;
}
  
100% {
  top: -100vh;
  opacity: 0;
}
}
  
@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}